.faq{

padding:90px 80px;

}

.faq h2{

text-align:center;

font-size:42px;

margin-bottom:50px;

}

.faq-box{

background:white;

padding:25px;

margin-bottom:20px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.faq-box h3{

color:#ff4f81;

margin-bottom:10px;

}

.faq-box p{

color:#666;

line-height:1.6;

}