.features{

padding:90px 80px;

text-align:center;

}

.features h2{

font-size:42px;

margin-bottom:60px;

color:#222;

}

.feature-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;

}

.feature-card{

background:white;

padding:35px;

border-radius:30px;

transition:.4s;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}

.feature-card:hover{

transform:
translateY(-10px);

}

.icon{

font-size:55px;

margin-bottom:20px;

}

.feature-card h3{

margin-bottom:15px;

color:#ff4f81;

}

.feature-card p{

color:#666;

line-height:1.7;

}

@media(max-width:992px){

.feature-grid{

grid-template-columns:
repeat(2,1fr);

}

}

@media(max-width:600px){

.features{

padding:50px 20px;

}

.feature-grid{

grid-template-columns:1fr;

}

}