{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>SafeHer</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="background">
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blob blob3"></div>
</div>

<nav class="navbar">

    <div class="logo">
        🛡 SafeHer
    </div>

    <div class="nav-links">
        <a href="/login/">Login</a>
        <a href="/signup/" class="signup-btn">
            Sign Up
        </a>
    </div>

</nav>


<section class="hero">

<div class="hero-text">

<h1>
Stay Safe,
<span>Every Journey.</span>
</h1>

<p>

SafeHer helps women travel confidently with
Emergency SOS,
Journey Tracking,
Trusted Contacts,
Nearby Safe Places
and AI powered safety assistance.

</p>

<div class="hero-buttons">

<a href="/signup/" class="btn">
Get Started
</a>

<a href="/login/" class="btn2">
Login
</a>

</div>

</div>


<div class="hero-image">

<div class="shield">

🛡

</div>

</div>

</section>


<section class="stats">

<div class="stat">

<h2>500+</h2>

<p>Women Protected</p>

</div>

<div class="stat">

<h2>100+</h2>

<p>Safe Places</p>

</div>

<div class="stat">

<h2>24x7</h2>

<p>Emergency Support</p>

</div>

<div class="stat">

<h2>5000+</h2>

<p>Safe Journeys</p>

</div>

</section>


<section class="steps">

<h2>

How SafeHer Works

</h2>

<div class="step-container">

<div class="step">

①

<h3>Register</h3>

</div>

<div class="arrow">

➜

</div>

<div class="step">

②

<h3>Add Contacts</h3>

</div>

<div class="arrow">

➜

</div>

<div class="step">

③

<h3>Start Journey</h3>

</div>

<div class="arrow">

➜

</div>

<div class="step">

④

<h3>Reach Safely</h3>

</div>

</div>

</section>


<section class="features">

<h2>

Features

</h2>

<div class="feature-slider">

<div class="feature-card">

🚨

<h3>SOS Alert</h3>

</div>

<div class="feature-card">

📍

<h3>Safe Places</h3>

</div>

<div class="feature-card">

🚖

<h3>Journey Tracking</h3>

</div>

<div class="feature-card">

📞

<h3>Emergency Contacts</h3>

</div>

<div class="feature-card">

⚠

<h3>Unsafe Reports</h3>

</div>

</div>

</section>


<footer>

<h2>

SafeHer

</h2>

<p>

Making every woman feel safe.

</p>

</footer>

</body>
</html>