{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Report</title>
<link rel="stylesheet" href="{% static 'css/features.css' %}">
</head>

<body>

<div class="container">

<h1 class="page-title">
⚠️ Report Unsafe Area
</h1>

<div class="card">
<form method="POST">

{% csrf_token %}

<input type="text"
name="area"
placeholder="Area Name">

<input type="text"
name="issue"
placeholder="Issue Type">

<textarea
name="description">
</textarea>

<button class="btn">
Submit Report
</button>

</form>

<table>

<tr>
<th>Area</th>
<th>Issue</th>
<th>Description</th>
</tr>

{% for r in reports %}

<tr>
<td>{{ r.area_name }}</td>
<td>{{ r.issue_type }}</td>
<td>{{ r.description }}</td>
</tr>

{% endfor %}

</table>
</div>

</div>
<div class="nav-links">
    <a href="/dashboard/" class="btn">
        Back to Dashboard
    </a>
</div>
</body>
</html>