{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Safe Places</title>
<link rel="stylesheet" href="{% static 'css/features.css' %}">
</head>

<body>

<div class="container">

<h1 class="page-title">
📍 Nearby Safe Places
</h1>

<div class="card">
🏥 Civil Hospital <br><br>
<button class="btn">Navigate</button>
</div>

<div class="card">
👮 Police Station <br><br>
<button class="btn">Navigate</button>
</div>

<div class="card">
💊 Pharmacy <br><br>
<button class="btn">Navigate</button>
</div>

</div>

</body>
</html>