{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Journey</title>
<link rel="stylesheet" href="{% static 'css/features.css' %}">
</head>

<body>

<div class="container">

<h1 class="page-title">
🚖 Start Journey
</h1>

<div class="card">

<form>

<input type="text" placeholder="Starting Point">

<input type="text" placeholder="Destination">

<select>
<option>Car</option>
<option>Bus</option>
<option>Train</option>
</select>

<button class="btn">
Start Journey
</button>

</form>

</div>

</div>

</body>
</html>