*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

scroll-behavior:smooth;

}

body{

background:linear-gradient(
135deg,
#fff0f6,
#ffe5ef,
#fff8fb
);

overflow-x:hidden;

color:#222;

}

a{

text-decoration:none;

}

img{

max-width:100%;

display:block;

}

section{

width:100%;

}
