{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>SafeHer</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar">

        <div class="logo">
            SafeHer
        </div>

        <div class="nav-links">

            <a href="login/">
                Login
            </a>

            <a href="signup/"
            class="signup-btn">
                Sign Up
            </a>

        </div>
    </nav>

    <section class="hero">

        <div class="hero-text">

            <h1>
                Your Safety,
                <span>Your Journey</span>
            </h1>

            <p>
                Travel smarter and safer with
                emergency SOS alerts,
                safe journey tracking,
                nearby safe places and
                trusted contact support.
            </p>

            <a href="signup/"
            class="btn">
                Get Started
            </a>

        </div>

        <div class="hero-card">

            <div class="card-title">
                SafeHer Features
            </div>

            <div class="feature">
                <h3>Safe Journey</h3>
                <p>
                    Track travel and get
                    safe check-ins.
                </p>
            </div>

            <div class="feature">
                <h3>SOS Emergency</h3>
                <p>
                    Send emergency alerts
                    instantly.
                </p>
            </div>

            <div class="feature">
                <h3>Nearby Safe Places</h3>
                <p>
                    Hospitals, police stations
                    and pharmacies.
                </p>
            </div>

        </div>

    </section>

</body>
</html>